:root {
    --logo-color: #437ABD;
}

body {
    font-family: Montserrat;
}

body > header > div > i {
    color: var(--logo-color);
    margin-right: 5px;
}

div.header-title {
    cursor: pointer;
}

div.todo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.card {
    height: 50px;
}

div.card-body.d-flex {
    margin-left: 10px;
    padding: 0;
}

button.btn.btn-danger {
    font-size: 15px;
    margin: 7px 10px;
}